In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from konlpy.tag import Okt

1. 목적
    - 네이버 영화리뷰 data set을 이용해서 긍정/부정 분류 모델 만들기
    - TF-IDF 적용

2. 데이터 수집
    - 네이버 영화 리뷰 data

In [8]:
df = pd.read_csv('ratings.txt', delimiter='\t')
df.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        200000 non-null  int64
 1   document  199992 non-null  object
 2   label     200000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [10]:
df.isnull().sum()

id          0
document    8
label       0
dtype: int64

In [11]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199992 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        199992 non-null  int64
 1   document  199992 non-null  object
 2   label     199992 non-null  int64
dtypes: int64(2), object(1)
memory usage: 6.1+ MB

In [13]:
x = df['document']
y = df['label']

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

In [14]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((149994,), (149994,), (49998,), (49998,))

In [18]:
okt = Okt()

def Tokenizer(text):
    return okt.nouns(text)