In [1]:
import pandas as pd

#### Series
    1차원 배열

In [2]:
population = pd.Series([189159,789151,789451,894891])
population

0    189159
1    789151
2    789451
3    894891
dtype: int64

In [41]:
population = pd.Series([894891,756800,450000,189159], index = ['서울','인천','부산','광주'])
population.name = '인구'
population.index.name = '도시'
population

도시
서울    894891
인천    756800
부산    450000
광주    189159
Name: 인구, dtype: int64

In [22]:
population.values
# csv파일 column 값들 확인할 때 사용??

array([894891, 822240, 789451, 189159], dtype=int64)

In [23]:
population.index

Index(['서울', '인천', '부산', '광주'], dtype='object', name='도시')

In [24]:
population.dtype

dtype('int64')

In [25]:
population[1], population['인천']

(822240, 822240)

In [30]:
population[[0,3,2]], population[['서울','광주','부산']]

(도시
 서울    894891
 광주    189159
 부산    789451
 Name: 인구, dtype: int64,
 도시
 서울    894891
 광주    189159
 부산    789451
 Name: 인구, dtype: int64)

In [42]:
population[population>=300000]

도시
서울    894891
인천    756800
부산    450000
Name: 인구, dtype: int64

In [52]:
population[(250000<= population) & (population <=500000)]

도시
부산    450000
Name: 인구, dtype: int64

In [55]:
population[:2], population['인천':'부산']

(도시
 서울    894891
 인천    756800
 Name: 인구, dtype: int64,
 도시
 인천    756800
 부산    450000
 Name: 인구, dtype: int64)

In [60]:
# dictionary로 series 만들기
data = {'피카츄':9631,'꼬부기':3393,'파이리':1490,'이상해씨':2632}
data2 = {'피카츄':9903,'꼬부기':3483,'이브이':2466,'뮤':2890}
poketmon = pd.Series(data)
poketmon_up = pd.Series(data2)
poketmon, poketmon_up

(피카츄     9631
 꼬부기     3393
 파이리     1490
 이상해씨    2632
 dtype: int64,
 피카츄    9903
 꼬부기    3483
 이브이    2466
 뮤      2890
 dtype: int64)

In [72]:
attack = poketmon_up - poketmon
attack

꼬부기      90.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     272.0
dtype: float64

In [73]:
# null 값이 아닌 것들만 true -> 딥러닝에서 뭔가 계산 후 null값 제외할 때 사용해도 될듯
# notnull -> boolean 값 반환
attack.notnull()

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [74]:
attack[attack.notnull()]

꼬부기     90.0
피카츄    272.0
dtype: float64

In [75]:
attack[attack.isnull()]

뮤      NaN
이브이    NaN
이상해씨   NaN
파이리    NaN
dtype: float64

In [76]:
# 증가율
rp = (attack*100) / poketmon
rp

꼬부기     2.652520
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.824213
dtype: float64

In [77]:
rp[rp.notnull()], rp[rp.isnull()]

(꼬부기    2.652520
 피카츄    2.824213
 dtype: float64,
 뮤      NaN
 이브이    NaN
 이상해씨   NaN
 파이리    NaN
 dtype: float64)

In [79]:
attack['파이리'] = 1616
attack['리자몽'] = 8888
del attack['뮤']
attack

꼬부기       90.0
이브이        NaN
이상해씨       NaN
파이리     1616.0
피카츄      272.0
리자몽     8888.0
dtype: float64