In [5]:
sentence = "my name is jongsu"

In [7]:
sentence[11]

'j'

In [8]:
sentence[3:7]

'name'

In [12]:
sentence[-14:-10]

'name'

In [14]:
# lunch_menu = "곱창볶음"
lunch_menu = "꽈배기"
# lunch_menu = "짬뽕"

print("오늘의 메뉴는 %s입니다."%lunch_menu)

오늘의 메뉴는 꽈배기입니다.

In [17]:
# lunch_menu = "곱창볶음"
lunch_menu1 = "꽈배기"
lunch_menu2 = "짬뽕"

print("오늘의 메뉴는 {1}와 {0}입니다.".format(lunch_menu1, lunch_menu2))

오늘의 메뉴는 짬뽕와 꽈배기입니다.

변수 x에 100을 대입하고, 변수 y에 200을 대입한 뒤, 변수 add에 x와 y의 합을 대입
그 후, 대입한 변수를 바탕으로 아래 문자를 출력
100과 200의 합은 300입니다.

In [18]:
x = 100
y = 200
add = x + y
print(f"{x}과{y}의 합은 {add}입니다")

100과200의 합은 300입니다

In [19]:
x = 100
y = 200
add = x + y
print("{}과{}의 합은 {}입니다".format(x,y,add))

100과200의 합은 300입니다

In [20]:
x = 100
y = 200
add = x + y
print("{0}과{1}의 합은 {2}입니다".format(x,y,add))

100과200의 합은 300입니다

In [22]:
x = 100
y = 200
add = x + y
print("{}과{}의 합은 \'{}'입니다".format(x,y,add))

100과200의 합은 '300'입니다

In [48]:
song = "tell me tell me tetete tell me"
song

'tell me tell me tetete tell me'

In [26]:
song.count("tell me")

3

In [27]:
song.find("tetete")

16

In [50]:
song.title()

'Tell Me Tell Me Tetete Tell Me'

In [51]:
song.replace("t","y")

'yell me yell me yeyeye yell me'

In [52]:
song

'tell me tell me tetete tell me'

In [54]:
song.upper()

'TELL ME TELL ME TETETE TELL ME'

In [56]:
song = song.upper()
song

'TELL ME TELL ME TETETE TELL ME'

In [57]:
song.split(" ")

['TELL', 'ME', 'TELL', 'ME', 'TETETE', 'TELL', 'ME']

In [58]:
told = "         tetlel       "
told.strip()

'tetlel'

In [60]:
told = "...........tetlel........"
told.strip(".")

'tetlel'