In [40]:
class1_4 = {"이름":["홍길동","김철수","김영희"]}
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [46]:
class1_4 = {"이름":["홍길동","김철수","김영희"]}
del class1_4["이름"][0]
class1_4

{'이름': ['김철수', '김영희']}

In [47]:
jegop = [i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

math = 0 
eng = 0
korean = 0

for i in scores:
    math = math + scores[i]['수학']
    eng = eng + scores[i]['영어']
    korean = korean + scores[i]['국어']

scores["평균 점수"] = {"수학 평균":math/len(scores),"영어 평균":eng/len(scores),"국어 평균":korean/len(scores)}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균 점수': {'수학 평균': 73.66666666666667,
  '영어 평균': 56.666666666666664,
  '국어 평균': 67.66666666666667}}

In [105]:
import math
a = 3.66666666
round(a,2)

3.67