In [1]:
import numpy as np
import pandas as pd

In [39]:
crime_2015 = pd.read_csv('2015.csv', encoding="cp949",index_col = '관서명')
# crime_2015 = pd.read_csv('2015.csv', encoding="cp949", index_col = '관서명')
crime_2016 = pd.read_csv('2016.csv', encoding="cp949",index_col = '관서명')
crime_2017 = pd.read_csv('2017.csv', encoding="cp949",index_col = '관서명')

In [44]:
crime_2015.index.value_counts().sort_index()

광주광산경찰서     6
광주남부경찰서     6
광주동부경찰서     6
광주북부경찰서     6
광주서부경찰서     6
광주지방경찰청계    6
Name: 관서명, dtype: int64

In [45]:
crime_2017.index.value_counts().sort_index()

광주광산경찰서     6
광주남부경찰서     6
광주동부경찰서     6
광주북부경찰서     6
광주서부경찰서     6
광주지방경찰청     6
광주지방경찰청계    6
Name: 관서명, dtype: int64

In [26]:
# 다른 연도에 없는 항목 삭제
crime_2017 = crime_2017.drop('광주지방경찰청')
crime_2017

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [28]:
# 연도별 발생건수 합계
crime_2015_data = crime_2015[crime_2015['구분']=='발생건수']
crime_2015_data['2015 총계'] = crime_2015_data.sum(axis=1)

crime_2016_data = crime_2016[crime_2016['구분']=='발생건수']
crime_2016_data['2016 총계'] = crime_2016_data.sum(axis=1)

crime_2017_data = crime_2017[crime_2017['구분']=='발생건수']
crime_2017_data['2017 총계'] = crime_2017_data.sum(axis=1)

crime_2015_data, crime_2016_data, crime_2017_data

C:\Users\user\AppData\Local\Temp\ipykernel_10516\523109379.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_2015_data['2015 총계'] = crime_2015_data.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_10516\523109379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2015_data['2015 총계'] = crime_2015_data.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_10516\523109379.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_2016_data['2016 총계'] = crime_2016_data.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_10516\523109379.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2016_data['2016 총계'] = crime_2016_data.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_10516\523109379.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_2017_data['2017 총계'] = crime_2017_data.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_10516\523109379.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2017_data['2017 총계'] = crime_2017_data.sum(axis=1)

(            구분  살인  강도  강간·강제추행    절도    폭력  2015 총계
 관서명
 광주지방경찰청계  발생건수  18  44      750  8425  9593    18830
 광주동부경찰서   발생건수   3   5       92  1100  1155     2355
 광주서부경찰서   발생건수   5  10      172  2050  2483     4720
 광주남부경찰서   발생건수   1   3       70   962  1081     2117
 광주북부경찰서   발생건수   5  14      256  2570  2621     5466
 광주광산경찰서   발생건수   4  12      160  1743  2253     4172,
             구분  살인  강도  강간·강제추행    절도    폭력  2016 총계
 관서명
 광주지방경찰청계  발생건수  17  47      701  6052  8599    15416
 광주동부경찰서   발생건수   3   8       83   832  1142     2068
 광주서부경찰서   발생건수   2  11      174  1417  2288     3892
 광주남부경찰서   발생건수   1   4       64   768  1028     1865
 광주북부경찰서   발생건수   6   7      205  1788  2142     4148
 광주광산경찰서   발생건수   5  17      175  1247  1999     3443,
             구분  살인  강도  강간·강제추행    절도    폭력  2017 총계
 관서명
 광주지방경찰청계  발생건수   9  33      725  4816  8366    13949
 광주동부경찰서   발생건수   3   5       77   624  1090     1799
 광주서부경찰서   발생건수   0   7      196  1142  2293     3638
 광주남부경찰서   발생건수   0   4       68   577   898     1547
 광주북부경찰서   발생건수   3   5      215  1546  2176     3945
 광주광산경찰서   발생건수   3  12      169   927  1909     3020)

In [46]:
s1 = crime_2015_data['2015 총계']
s3 = crime_2016_data['2016 총계']
s5 = crime_2017_data['2017 총계']
s2 = (s3-s1)*100/s1
s2.name = '2015-2016 증감율'
#series의 name값은 dataframe에서 column값으로 사용됨
s4 = (s5-s3)*100/s3
s4.name = '2016-2017 증감율'

관서명
광주지방경찰청계    18830
광주동부경찰서      2355
광주서부경찰서      4720
광주남부경찰서      2117
광주북부경찰서      5466
광주광산경찰서      4172
Name: 2015 총계, dtype: int64

In [54]:
total = pd.concat([s1,s2,s3,s4,s5],axis=1)
total

          2015 총계  2015-2016 증감율  2016 총계  2016-2017 증감율  2017 총계
관서명
광주지방경찰청계    18830     -18.130643    15416      -9.516087    13949
광주동부경찰서      2355     -12.186837     2068     -13.007737     1799
광주서부경찰서      4720     -17.542373     3892      -6.526208     3638
광주남부경찰서      2117     -11.903637     1865     -17.050938     1547
광주북부경찰서      5466     -24.112697     4148      -4.893925     3945
광주광산경찰서      4172     -17.473634     3443     -12.285797     3020

In [59]:
total = pd.concat([s1,s2,s3,s4,s5],keys=['2015','증감율','2016','증감율','2017'])
total

      관서명
2015  광주지방경찰청계    18830.000000
      광주동부경찰서      2355.000000
      광주서부경찰서      4720.000000
      광주남부경찰서      2117.000000
      광주북부경찰서      5466.000000
      광주광산경찰서      4172.000000
증감율   광주지방경찰청계      -18.130643
      광주동부경찰서       -12.186837
      광주서부경찰서       -17.542373
      광주남부경찰서       -11.903637
      광주북부경찰서       -24.112697
      광주광산경찰서       -17.473634
2016  광주지방경찰청계    15416.000000
      광주동부경찰서      2068.000000
      광주서부경찰서      3892.000000
      광주남부경찰서      1865.000000
      광주북부경찰서      4148.000000
      광주광산경찰서      3443.000000
증감율   광주지방경찰청계       -9.516087
      광주동부경찰서       -13.007737
      광주서부경찰서        -6.526208
      광주남부경찰서       -17.050938
      광주북부경찰서        -4.893925
      광주광산경찰서       -12.285797
2017  광주지방경찰청계    13949.000000
      광주동부경찰서      1799.000000
      광주서부경찰서      3638.000000
      광주남부경찰서      1547.000000
      광주북부경찰서      3945.000000
      광주광산경찰서      3020.000000
dtype: float64

#### merge
    공통 칼럼이 존재해야 사용가능
    공통 칼럼 기준으로 dataframe 병합
    vlookup하고 비슷

In [60]:
employee = [{'empno':1, 'ename':'kim', 'dept':1},
            {'empno':2, 'ename':'lee', 'dept':2},
            {'empno':3, 'ename':'park', 'dept':1},
            {'empno':4, 'ename':'song', 'dept':3},
            {'empno':5, 'ename':'min', 'dept':2}
           ]
dept=[{'dept':1, 'deptname':'관리직'},
      {'dept':2, 'deptname':'영업직'},
      {'dept':3, 'deptname':'개발직'}
     ]
info =[{'empno':1, 'addr':'서울시','phone':'010-1111-1111'},
       {'empno':3, 'addr':'부산시','phone':'010-2222-2222'},
       {'empno':2, 'addr':'광주시','phone':'010-3333-3333'},
       {'empno':5, 'addr':'광주시','phone':'010-4444-4444'},
       {'empno':4, 'addr':'광주시','phone':'010-5555-5555'}
      ]

In [61]:
emp = pd.DataFrame(employee)
dept = pd.DataFrame(dept)
info = pd.DataFrame(info)

In [62]:
emp

   empno ename  dept
0      1   kim     1
1      2   lee     2
2      3  park     1
3      4  song     3
4      5   min     2

In [63]:
dept

   dept deptname
0     1      관리직
1     2      영업직
2     3      개발직

In [64]:
pd.merge(emp, dept)

   empno ename  dept deptname
0      1   kim     1      관리직
1      3  park     1      관리직
2      2   lee     2      영업직
3      5   min     2      영업직
4      4  song     3      개발직

In [65]:
pd.merge(emp, dept, on='dept')

   empno ename  dept deptname
0      1   kim     1      관리직
1      3  park     1      관리직
2      2   lee     2      영업직
3      5   min     2      영업직
4      4  song     3      개발직

In [66]:
pd.merge(dept, emp, on='dept')

   dept deptname  empno ename
0     1      관리직      1   kim
1     1      관리직      3  park
2     2      영업직      2   lee
3     2      영업직      5   min
4     3      개발직      4  song

In [68]:
mg = pd.merge(dept, emp, on='dept')
mg.drop(columns='dept',inplace=True)
mg
# inplace 없이 drop만 사용하면 원본에서는 없어지지 않지만 inplace 사용하면 원본도 같이 수정됨

  deptname  empno ename
0      관리직      1   kim
1      관리직      3  park
2      영업직      2   lee
3      영업직      5   min
4      개발직      4  song

In [69]:
pd.concat([emp,dept])

   empno ename  dept deptname
0    1.0   kim     1      NaN
1    2.0   lee     2      NaN
2    3.0  park     1      NaN
3    4.0  song     3      NaN
4    5.0   min     2      NaN
0    NaN   NaN     1      관리직
1    NaN   NaN     2      영업직
2    NaN   NaN     3      개발직

In [70]:
pd.concat([emp,dept], axis = 1)

   empno ename  dept  dept deptname
0      1   kim     1   1.0      관리직
1      2   lee     2   2.0      영업직
2      3  park     1   3.0      개발직
3      4  song     3   NaN      NaN
4      5   min     2   NaN      NaN