In [160]:
# page 수마다 url이 달라지지 않는다면?
# xpath나 css selector 규칙성을 보고 formatting 하여 수집
# page마다 data 수집해야 함
# 검색해서 해당 장소 이름, 별점

In [161]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
from tqdm import tqdm_notebook

In [162]:
from selenium.webdriver.common.keys import Keys

In [163]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [164]:
driver.get('https://map.kakao.com/')

In [165]:
driver.maximize_window()

In [166]:
layer_btn = driver.find_element_by_css_selector('body > div.coach_layer.coach_layer_type1 > div > div > div > span')
layer_btn.click()

In [167]:
finding = driver.find_element_by_css_selector('#search\.keyword\.query')
finding.send_keys('공원')
finding.send_keys(Keys.ENTER)
time.sleep(1)

In [168]:
while True:
    try:
        plus_btn = driver.find_element_by_css_selector('#info\.search\.place\.more')
        plus_btn.click()
        time.sleep(1)
    except:
        break

In [169]:
#info\.search\.page\.no1
#info\.search\.page\.no2
#info\.search\.page\.no3
#info\.search\.page\.next   (마지막 넘어가기 버튼은 규칙과 다름)

In [170]:
name_list = []
stars_list = []
while True:
    try:
        for i in range(1,6):
            page_num = driver.find_element_by_css_selector('#info\.search\.page\.no{}'.format(i))     
            page_num.click()
            name = driver.find_elements_by_css_selector('strong > a.link_name')
            stars = driver.find_elements_by_css_selector('span.score > em')
            for i in name:
                name_list.append(i.text)
            for i in stars:
                stars_list.append(i.text)
            time.sleep(2)
        more = driver.find_element_by_css_selector('info\.search\.page\.next')
        more.click()
    except:
        break
    
len(name_list), len(stars_list)

(8, 0)

In [171]:
name_list = []
stars_list = []
for i in tqdm_notebook(range(1,6)):
    page_num = driver.find_element_by_css_selector('#info\.search\.page\.no{}'.format(i))
    name = driver.find_elements_by_css_selector('strong > a.link_name')
    stars = driver.find_elements_by_css_selector('span.score > em')
    for i in name:
        name_list.append(i.text)
    for i in stars:
        stars_list.append(i.text)

C:\Users\user\AppData\Local\Temp\ipykernel_13536\2832175495.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(range(1,6)):

  0%|          | 0/5 [00:00<?, ?it/s]

In [172]:
len(name_list), len(stars_list)

(75, 75)

In [173]:
kakaomap_data = {'이름':name_list,'별점':stars_list}
kakaomap = pd.DataFrame(kakaomap_data)
kakaomap

               이름   별점
0         사육신역사공원  3.8
1   노량진근린공원 송학대공원  4.0
2          노들나루공원  4.8
3         노량진근린공원  4.7
4          본동체육공원  0.0
..            ...  ...
70   노량진근린공원 대방공원  5.0
71           도화공원  5.0
72           영도공원  0.0
73   노량진근린공원 대방공원  5.0
74  노량진근린공원 절고개공원  5.0

[75 rows x 2 columns]

In [174]:
df = pd.DataFrame(kakaomap_data)
df = df.sort_values(by=['별점'], ascending=False)
df = df.reset_index(drop=True)    # 인덱스 새로 지정
df

               이름   별점
0   노량진근린공원 절고개공원  5.0
1   노량진근린공원 절고개공원  5.0
2            도화공원  5.0
3    노량진근린공원 대방공원  5.0
4   노량진근린공원 절고개공원  5.0
..            ...  ...
70        백로어린이공원  0.0
71           영도공원  0.0
72        백로어린이공원  0.0
73         본동체육공원  0.0
74         본동체육공원  0.0

[75 rows x 2 columns]