In [ ]:
# page 수마다 url이 달라지지 않는다면?
# xpath나 css selector 규칙성을 보고 formatting 하여 수집
# page마다 data 수집해야 함
# 검색해서 해당 장소 이름, 별점

In [2]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
from tqdm import tqdm_notebook

In [3]:
from selenium.webdriver.common.keys import Keys

In [4]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [5]:
driver.get('https://map.kakao.com/')

In [6]:
driver.maximize_window()

In [9]:
finding = driver.find_element_by_css_selector('#search\.keyword\.query')
finding.send_keys('공원')
finding.send_keys(Keys.ENTER)

In [14]:
while True:
    try:
        plus_btn = driver.find_element_by_css_selector('#info\.search\.place\.more')
        plus_btn.click()
        time.sleep(1)
    except:
        break

In [15]:
body = driver.find_element_by_css_selector('body')

In [16]:
from bs4 import BeautifulSoup as bs
import requests as req

In [17]:
while True:
    last = bs(driver.page_source,'html.parser')
    for i in range(10):
        body.send_keys(Keys.END)
    new = bs(driver.page_source,'html.parser')
    if (last == new):
        break
    else:
        pass

In [ ]:
#info\.search\.page\.no1
#info\.search\.page\.no2
#info\.search\.page\.no3

In [18]:
page = range(1,11)

In [19]:
name_list = []
stars_list = []
for i in tqdm_notebook(page):
    page_num = '#info\.search\.page\.no{}'.format(i)
    name = driver.find_elements_by_css_selector('strong > a.link_name')
    stars = driver.find_elements_by_css_selector('span.score > em')
    for i in name:
        name_list.append(i.text)
    for i in stars:
        stars_list.append(i.text)

C:\Users\user\AppData\Local\Temp\ipykernel_13536\1570861089.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(page):

  0%|          | 0/10 [00:00<?, ?it/s]

In [21]:
len(name_list), len(stars_list)

(150, 150)

In [22]:
kakaomap_data = {'이름':name_list,'별점':stars_list}
kakaomap = pd.DataFrame(kakaomap_data)
kakaomap

           이름   별점
0    이촌한강 논습지  3.8
1     자유어린이공원  3.7
2     빙수골마을공원  0.0
3       흑석소공원  0.0
4      용산가족공원  4.5
..        ...  ...
145   새벽어린이공원  0.0
146   경의선숲길공원  4.4
147    상도근린공원  5.0
148    동작주차공원  5.0
149  꿈동산어린이공원  3.0

[150 rows x 2 columns]

In [23]:
df = pd.DataFrame(kakaomap_data)
df = df.sort_values(by=['별점'], ascending=False)
df = df.reset_index(drop=True)    # 인덱스 새로 지정
df

          이름   별점
0    제비어린이공원  5.0
1     상도근린공원  5.0
2    제비어린이공원  5.0
3     동작주차공원  5.0
4     상도근린공원  5.0
..       ...  ...
145  새벽어린이공원  0.0
146  별님어린이공원  0.0
147  별님어린이공원  0.0
148  빙수골마을공원  0.0
149    흑석소공원  0.0

[150 rows x 2 columns]